{{ define "main" }}
<!-- Very ungly approach, not knowing how to fix this. -->
<script>document.body.classList.add("article-page")</script>

    {{- $paginator := partial "helper/paginator.html" . -}}

    {{ partial "article/article" . }}

    <section class="article-list">
        {{ range $index, $element := $paginator.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
